:root {
  --bg-color: #f2efe7;
  --fg-color: #443627;
  --card-color: #443627;
}

.genres-container,
.user-buttons {
  max-width: 62rem;
}

.text-custom {
  color: var(--fg-color);
}

.custom-title {
  color: var(--fg-color);
}

.custom-paragraph {
  color: var(--fg-color);
}

.body-section {
  background-color: var(--bg-color);
}

.custom-card {
  background-color: var(--card-color);
  max-width: 18rem;
  margin: 0 auto;
  border: 0px;
  transition: all 0.3s ease;

  &:hover {
    transform: scale(1.05);
  }
}

.col.custom-col {
  padding: 0;
}

.custom-card .card-title {
  color: var(--bg-color);
}

.card-img-top {
  height: 100px;
  width: 100%;
  object-fit: cover;
}

.custom-btn {
  background-color: var(--bg-color);
  color: var(--fg-color);

  &:hover {
    background-color: transparent;
    border: var(--bg-color) solid 1px;
    color: var(--bg-color);
  }
}

.search-bar {
  margin: 1.5rem 0;
  max-width: 62rem;
}

.search-bar .form-label {
  color: var(--fg-color);
}

.search-bar .form-control {
  color: var(--fg-color);
  border: var(--card-color) solid 2px;
}

.search-btn,
.btn.btn-account {
  background-color: var(--card-color);
  color: var(--bg-color);

  &:hover {
    background-color: transparent;
    border: var(--card-color) solid 1px;
    color: var(--card-color);
  }
}

.results-list {
  width: fit-content;
  max-width: 62rem;
}

.cover-img {
  min-width: 80px;
}

table > * > tr > .table-text {
  color: var(--fg-color);
  background-color: transparent;
}

a.custom-link {
  color: var(--fg-color);
  transition: all 0.3s ease;
}

a.custom-link:hover {
  font-weight: bold;
}

.table-text.max-width-text {
  width: 12.4rem;
}

.pagination .page-item .page-link {
  color: var(--bg-color);
  background-color: var(--card-color);
  border: var(--card-color) solid 1px;
}

.pagination .page-item.active .page-link {
  background-color: var(--bg-color);
  color: var(--fg-color);
  border: var(--card-color) solid 1px;
}

.btn-home,
.form-btn,
.btn-favorites {
  background-color: var(--card-color);
  color: var(--bg-color);

  &:hover {
    background-color: transparent;
    border: var(--card-color) solid 1px;
    color: var(--card-color);
  }
}

.container.details-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  max-width: 800px !important;
  margin: 3rem 0 0 0;
}

.form-container {
  max-width: fit-content;
  padding: 1.5rem;
  margin-top: 1rem;
  border: 2px solid var(--card-color);
  border-radius: 1rem;

  div {
    margin-bottom: 0.5rem;

    input {
      width: 100%;
      padding: 0.5rem;
      color: var(--fg-color);
      border-radius: 0.5rem;
      border: 1px solid;
    }

    ul {
      list-style: none;
      padding: 0;
    }
  }

  > * {
    color: var(--fg-color);
  }

  label {
    font-weight: bold;
  }

  .helptext {
    font-size: smaller;
  }

  .form-btn {
    width: 100%;
  }

  .errorlist {
    list-style: none;
    padding: 0;

    li {
      color: red;
      font-weight: bold;
      font-size: smaller;
    }
  }
}

.favorite-books {
  display: flex;
  max-width: 62rem;
  flex-direction: row;
  margin-top: 1.5rem;
  gap: 1.5rem;

  .favorite-book {
    display: flex;
    max-width: 20rem;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    border-radius: 1rem;
    padding: 1rem;
    height: fit-content;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(68, 54, 39, 1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(68, 54, 39, 1);
    box-shadow: 0px 0px 10px 0px rgba(68, 54, 39, 1);

    * {
      color: var(--fg-color);
      margin: 0;
    }

    h2 {
      font-size: 1.5rem;
    }

    .btn-favorites {
      color: var(--bg-color);

      &:hover {
        color: var(--fg-color);
      }
    }
  }
}
