{% extends "base.html" %}

{% block title %} User Login {% endblock %}

<!-- This template is used to display the login form. It includes a form with a username and password field, a submit button, and a hidden input field for the next page to redirect to after the login. This next page is determined by the 'next' query parameter in the URL. It is used in case the user has made a petition to the website and wants to be redirected to the petition page after logging in. -->
{% block content %}
    <h1 class="custom-title">User Login</h1>
    <div class="form-container">
        <form action="{% url 'users:login_user' %}" method="post" class="custom-form">
        {% csrf_token %}
        {{ form }}
        {% if request.GET.next %}
            <input type="hidden" name="next" value="{{ request.GET.next }}" />
        {% endif %}
        <button type="submit" class="btn form-btn">Login</button>
        </form>
    </div>
{% endblock %}
